# Intro to Machine Learning

Poniższy notebook sporządzono na podstawie kursu dostępnego pod adresem https://www.kaggle.com/learn/intro-to-machine-learning. 

Tutorial pokazuje krok po kroku jak budować, trenować i sprawdzać jakość modeli opartych o algorytm DRZEW DECYZYJNYCH za pomocą biblioteki Scikit-Learn. Porusza on również temat LASÓW LOSOWYCH.

Agenda:
1. **How Model Works**
2. **Basic Data Exploration**
3. **First ML Model**
4. **Model Validation**
5. **Underfitting and Overfitting**
6. **Random Forests**

## 1) How Model Works

Teoria na temat Drzew Decyzyjnych.

## 2) Basic Data Exploration
Model wytrenujemy na podstawie zbioru dotyczącego cen domów w Melbourne.

#### Import modułów:

In [1]:
import pandas as pd

#### Wczytanie zbioru danych oraz wyświetlenie jego najważniejszych charakterystyk

In [2]:
melbourne_data = pd.read_csv('./melb_data.csv')

In [3]:
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

## 3) First ML Model
#### Obróbka danych dla modelu:

Usunięcie wszystkich wierszy zawierających wartości NA:

In [4]:
melbourne_data = melbourne_data.dropna(axis=0)
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

#### Określenie zmiennej przewidywanej:

Według konwencji zmienna przewidywana jest oznaczana jako "y". W naszym przypadku będzie to cena (kolumna Price).

In [5]:
y = melbourne_data['Price']

#### Wybór cech dla modelu (kolumn na podstawie, których będziemy uczyć model):

In [6]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

Według konwencji cechy (zmienne przewidujące) są oznaczane jako "X".

In [7]:
X = melbourne_data[melbourne_features]
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [8]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

#### Budowanie modelu:

Do budowy modelu będziemy używać biblioteki "scikit-learn" (sklearn).

Kolejne kroki budowy modelu:
1. DEFINE - Określenie rodzaju modelu, którego chcemy użyć (np. drzewo decyzyjne)
2. FIT - Trenowanie modelu na podstawie danych
3. PREDICT - Przewidywanie wyników
4. EVALUATE - Ocena wydajności modelu (model validation; walidacja modelu)

##### Krok 1. 
##### DEFINE
W tym przykładowym projekcie użyjemy algorytmu drzew decyzyjnych, który wytrenujemy na podstawie cech (features) oraz zmiennej przewidywanej. Jest to zatem przykład uczenia nadzorowanego.

In [9]:
# Import algorytmu drzew decyzyjnych z biblioteki sklearn:
from sklearn.tree import DecisionTreeRegressor

# Przypisanie algorytmu do zmiennej i określenie 'random_state':
melbourne_model = DecisionTreeRegressor(random_state=1)

Wiele modeli uczenia maszynowego pozwala określić losowość dla trenowania danych. Określenie jak wyżej parametru 'random_state' zapewnia powtarzalność wyników przy każdym uruchomieniu (dobra praktyka). Wartość 'random_state' może być w zasadzie dowolna, gdyż jakość modelu nie będzie od niej znacząco uzależniona (chodzi jedynie o to, aby przy każdym uruchomieniu skryptu otrzymywać jednakowe wyniki).

##### Krok 2.
##### FIT

In [10]:
# Trenowanie modelu na podstawie cech X i znanych wartości zmiennej przewidywanej y:
melbourne_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

Mamy wytrenowany model gotowy do przewidywania!

##### Krok 3.
##### PREDICT
W praktyce będziemy używać modeli do przewidywania zmiennej przewidywanej (np. ceny) dla nowych danych, jednak tutaj dokonamy przewidywania dla kilku pierwszych wierszy zbioru treningowego, aby pokazać jak to działa.

In [11]:
print("Dokonujemy predykcji cen dla poniższych 5 pierwszych domów ze zbioru treningowego:")
print(X.head())
print('PREDYKCJA:')
print(melbourne_model.predict(X.head()))

Dokonujemy predykcji cen dla poniższych 5 pierwszych domów ze zbioru treningowego:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
PREDYKCJA:
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [12]:
# Poniżej rzeczywiste ceny (wartości zmiennej przewidywanej y) dla tych samych 5 domów
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

## 4) Model Validation
##### Krok 4.
##### EVALUATE (model validation)
Jest to ocena jakości modelu. Polega na sprawdzeniu dokładności (accuracy) z jaką model przewiduje wartości zmiennej przewidywanej (y).

Wiele osób popełnia błąd podczas oceny dokładności, ponieważ dokonują oni predykcji na danych treningowych (X) i porównują wyniki z wartościami zmiennej przewidywanej tego samego zbioru treningowego (y) - identycznie, jak zrobiliśmy powyżej (otrzymane wyniki są takie same więc dokładność wynosi 100%, co w rzeczywistości jest głupotą).

Istnieje wiele metod do określenia jakości modelu. Jedną z nich jest MAE (Mean Absolute Error, czyli "średni błąd bezwzględny") - obliczamy błąd dla każdego przypadku (wiersza tabeli: domu), który wynosi: 

error = |wartość rzeczywista - wartość przewidywana|

Zatem, jeśli dom kosztuje 150 000 a nasz model przewidział cenę dla tego domu na poziomie 100 000, to błąd wynosi 50 000.

Następnie obliczamy średnią dla błędów obliczonych dla wszystkich wierszy - TO JEST NASZA MIARA JAKOŚCI!

In [13]:
# import MAE:
from sklearn.metrics import mean_absolute_error

# przewidywane ceny wszystkich domów
predicted_home_prices = melbourne_model.predict(X)

# MAE dla wartości (cen) rzeczywistych i przewidywanych
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

WALIDACJA MODELU

Powyższy wynik jest błędny, ponieważ użyliśmy tych samych danych zarówno do budowy (wytrenowania) modelu, jak i oceny jego jakości - stąd nawet jeśli jakość okaże się wysoka (czyli wartość błędu będzie stosunkowo niska (jak wyżej)) może okazać się, że dla zupełnie nowych danych będzie ona dużo wyższa. Wynika to z faktu, że podczas trenowania modelu na zbiorze treningowym znalazł on pewne wzorce, które podczas walidacji na tych samych danych są dalej w nich obecne - zatem jakość jest wysoka. Z kolei w przypadku zupełnie nowych danych wzorce te nie będą prawdopodobnie istnieć, co doprowadzi do znacznego spadku jakości modelu. Dlatego oceny jakości modelu należy dokonywać na danych, które nie były używane do jego trenowania! Najprostszą metodą jest tutaj wyodrębnienie części danych (zbiór walidacyjny), których nie przekażemy do trenowania modelu, a które posłużą nam później do oceny jego jakości (będą to zupełnie nowe, z punktu widzenia modelu, nieznane dane).

In [23]:
# import metody do podziału danych na zbiór treningowy i walidacyjny:
from sklearn.model_selection import train_test_split

# podział danych (domyślnie treningowy: 75%, walidacyjny: 25%)
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

Podział danych opiera się na wartości 'random_state', która gwarantuje, że jest on identyczny za każdym razem, gdy uruchamiamy nasz skrypt.

- train_X - zbiór cech (kolumn), których użyjemy do trenowania modelu
- val_X - zbiór cech jw o wartościach, których nasz model nie zna i których użyjemy do testowania (walidacji) modelu
- train_y - zbiór znanych wartości zmiennej przewidywanej, których użyjemy do trenowania modelu
- val_y - zbiór znanych wartości zmiennej przewidywanej, których nasz model nie zna i których użyjemy do testowania modelu (będziemy je porównywać z wartościami, które nasz model przewidzi dla zbioru 'val_X' w celu oszacowania błędu przewidywania).

In [16]:
# ponownie definiujemy model:
melbourne_model = DecisionTreeRegressor(random_state = 0)

# Trenujemy model na cechach (X) treningowych i znanych wartościach zmiennej przewidywanej (y) przewidzianych do treningu
melbourne_model.fit(train_X, train_y)

# używamy wytrenowanego powyżej modelu do przewidzenia cen dla zbioru walidacyjnego (val_X)
val_predictions = melbourne_model.predict(val_X)

# wyświetlamy MAE, gdzie porównujemy wartości cen ze zbioru walidacyjnego (val_y) oraz wartości cen przewidywane przez 
# nasz wytrenowany model:
print(mean_absolute_error(val_y, val_predictions))

271598.0400258231

Wnioski:

Gdy sprawdzaliśmy jakość modelu na tym samym zbiorze (ten sam zarówno do treningu, jak i walidacji), to błąd MAE wynosił około 1100 dolarów (niewiele). Z kolei teraz, gdy wyodrębniliśmy zbiór walidacyjny (zupełnie nowe dane z punktu widzenia modelu - model nigdy wcześniej ich nie widział więc nie wie czy są w nich jakieś wzorce) MAE wynosi ponad 270 000!

Tak duża wartość błędu może wynikać z wielu rzeczy, np. z małej ilości danych treningowych lub złego doboru cech do budowy modelu.

## 5) Underfitting and overfitting

W przypadku biblioteki 'sklear' algorytm (model) drzew decyzyjnych ma wiele właściwości. Jedną z najważniejszych jest możliwość ustawienia "głębokości" drzewa (ilości podziałów danych w drzewie, które będą miały miejsce zanim otrzymamy końcowy wynik (prediction). Przykładowo, pomiędzy korzeniem (wszystkie domy) a liśćmi drzewa mamy 10 poziomów, czyli przy założeniu, że zawsze dzielimy dane na 2 grupy, liczba końcowych liści wyniesie 2^10 = 1024).

Schodząc na coraz niższy poziom drzewa, zbiór danych ulega podziałowi na coraz mniejsze części, stąd liście zawierają coraz mniej obserwacji (domów). Liście z bardzo małą ilością obserwacji będą zwracały predykcje, których wartości są bardzo zbliżone do rzeczywistych wyników (aktualnych cen domów). Niestety dla nowych danych wyniki będą niewiarygodne, ponieważ każda predykcja opierać się będzie na tylko kilku przypadkach (obserwacjach).

Taka sytuacja nosi nazwę OVERFITTING'u (przetrenowania) - model działa niemalże perfekcyjnie na danych treningowych, ale na danych walidacyjnych (lub innych nowych) już nie. Z kolei jeśli drzewo będzie za płytkie (za mało poziomów), to model nie będzie osiągał zadowalających wyników zarówno na danych treningowych, jak i walidacyjnych - UNDERFITTING (niedotrenowanie).

<img src="Images/tree_depth.jpg">

Zgodnie z powyższym wykresem musimy szukać takiej ilości poziomów (tree depth), dla której wartość MAE dla zbioru walidacyjnego jest możliwie najmniejsza.

In [17]:
# Moduł 'sklearn' pozwala kontrolować ilość liści drzewa poprzez parametr 'max_leaf_nodes'

# definiujemy funkcję zwracającą MAE w zależności od ilości liści:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return mae

# iterujemy po przykładowych ilościach liści:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes, my_mae))
    
# Alternatywny zapis powyższej pętli i znajdowania najmniejszej wartości:
#scores = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in [5, 50, 500, 5000]}
#best_tree_size = min(scores, key=scores.get)

Max leaf nodes: 5 		 Mean Absolute Error: 385696
Max leaf nodes: 50 		 Mean Absolute Error: 279794
Max leaf nodes: 500 		 Mean Absolute Error: 261718
Max leaf nodes: 5000 		 Mean Absolute Error: 271996

Widać, że najmniejsza wartość MAE na zbiorze walidacyjnym jest osiągnięta dla liczby liści równej 500.

Ostateczna wersja naszego modelu:

In [18]:
final_model = DecisionTreeRegressor(max_leaf_nodes=500, random_state=0)

PODSUMOWUJĄC:

- Overfitting: znajdowanie przez model fałszywych wzorców w danych, które nie istnieją dla nowych danych. Prowadzi to do bardzo dobrej jakości prognoz dla danych treningowych, ale niedokładnych dla zbiorów walidacyjnych;
- Underfitting: brak możliwości znalezienia jakichkolwiek sensownych wzorców w danych, co prowadzi do niedokładnych prognoz zarówno na zbiorach treningowych, jak i walidacyjnych; 
- Im bardziej podzielimy dane (więcej poziomów w drzewie -> więcej liści), tym bardziej "oddalimy" się od ryzyka niedotrenowania modelu ale z kolei "zbliżymy" się w stronę przetrenowania - w praktyce należy znaleźć kompromis pomiędzy przetrenowaniem i niedotrenowaniem naszego modelu (jak wyżej: 500).

## 6) Random Forests

W praktyce, trudno jest znaleźć najlepsze parametry drzewa decyzyjnego, tak aby dane nie były zarówno niedotrenowane, jak i przetrenowane oraz, aby model posiadał możliwie najlepszą jakość, dlatego pewnym rozwiązaniem tego problemu są LASY LOSOWE (Random Forests).

Lasy losowe są przykładem tzw. "metody zespołowej" (ang. ensemble method), ponieważ łączą przewidywania pochodzące z kilku modeli, a dokładniej używają wiele drzew decyzyjnych i dokonują prognozy poprzez uśrednienie wyników uzyskanych z pojedynczych drzew. Dzięki temu uzyskują one dużo lepszą jakość niż pojedyncze drzewa decyzyjne nawet przy zastosowaniu domyślnych ustawień parametrów.

In [19]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=0)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

C:\Users\Maciek\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

215038.14009038088

WNIOSKI:
Jak widać, nawet dla domyślnych parametrów modelu lasu losowego wynik MAE jest zdecydowanie lepszy (niższy) niż dla domyślnych parametrów drzewa decyzyjnego (choć oczywiście da się go poprawić poprzez korektę jego parametrów!).